<?xml version="1.0"?>
<Project xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <propertyGroup>
    <StartProgram>E:\needle-stone\x64\Debug\needle-stone\needle-stone.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>E:\needle-stone\x64\Debug\needle-stone</StartWorkingDirectory>
    <CapturePrintMessagesToDebugOutputWindow>true</CapturePrintMessagesToDebugOutputWindow>
    <TextEncoding>0</TextEncoding>
  </propertyGroup>
</Project>